<template>
  <div>
    <!-- Write all HTML in this div -->
    
  </div>
</template>

<script>
export default {
  name: 'Test',
  methods: {
    // write all JS functions in this box

  },
}
</script>

<style scoped>
/* write all css here */

</style>